.wizard-header{
	@extend .full-width-column;

	border-bottom: 1px solid $sc-color-theme-border-light;
	padding-bottom: $sc-margin-lv1;
	margin-bottom: $sc-margin-lv4;

	@media (min-width: $screen-sm-min){
		margin-bottom: $sc-margin-lv6;
	}
}

.wizard-header-title{
	margin-bottom: $sc-margin-lv2;
}

.wizard-header-title, .order-wizard-step-title, .order-wizard-paymentmethod-selector-module-header{
	color: #0054a6;
}

.wizard-content{}
.wizard-step-title{}
.wizard-step-content-main{}
.wizard-step-actions{}
