.home-slider-container {
  margin-bottom: $sc-margin-lv4;
  margin-left: 0;
  margin-right: 0;

  @extend .row;

  // This block is only added if the slide have captions
  .caption-on {
    //making the sliders visible/hidden individually
    .home-slide-caption-container {
      &.caption-display {
        display: block;
        @media (min-width: $screen-sm-min) {
          display: flex;
        }
      }
    }
  }

  .home-image-slider {
    position: relative;

    .bx-wrapper {
      @media (min-width: $screen-sm-min) {
        margin-bottom: $sc-margin-lv4;
        background-color: transparent !important;
      }
      .bx-viewport {
        height: auto !important;
      }
      .home-slide-main-container .home-slide-image-container {
        overflow: hidden;
        height: auto;
        text-align: center;

        background-size: 0%;

        @media (min-width: $screen-sm-min) {
          background-size: cover;
          background-position: center center;
        }

        //- slider image
        img {
          margin: auto 0;
          height: 100%;
          min-width: auto;
          max-width: 100%;

          float: none;
          width: 100% !important;
          margin: 0 auto -6px !important;
          min-height: 50px;
          opacity: 1;

          @media (min-width: $screen-sm-min) {
              max-width: none;
              min-width: 1200px;
          }

          @media (min-width: $screen-md-min) {
              opacity: 0;
          }

          //class for emulate the background behaviour, controlling crop sides
          &.backgrounded-left {
             min-width: 1200px !important;
             float: left;
          }
          &.backgrounded-right {
            min-width: 1200px !important;
            float: right;
          }


        }

        &.use-image {
          img {
            min-width: auto;
          }
          @media (max-width: $screen-sm-min) {
            background-image: none !important;
          }
          @media (min-width: $screen-md-min) {
            img {
              opacity: 0;
            }
          }
        }

        &.left {
          @media (min-width: $screen-sm-min) {
            background-image: none !important;
            img {
              min-width: 1200px !important;
              float: right;
              opacity: 1;
            }
          }
        }
        &.right {
          @media (min-width: $screen-sm-min) {
            background-image: none !important;
            img {
              min-width: 1200px !important;
              float: left;
              opacity: 1;
            }
          }
        }
        &.centered {
          @media (min-width: $screen-sm-min) {
            img {
              min-width: 1200px !important;
              float: left;
              opacity: 0; //important for mantain the right height in the slider
            }
          }
        }

        //added for mobile image
        .home-slide-image-mobile {display: none;}
        .hide-small {display: block;}

         @media (max-width: $screen-xs-max) {
             .hide-small {
               display: none;
             }
             .home-slide-image-mobile {
               display: block;
             }
         }
      }

    }
  }


  // pager and controls -------

  .home-image-slider {
    .bx-controls {
      .bx-pager {
        padding-top: 10px;
        @media (min-width: $screen-md-min) {
            position: absolute;
            width: 100%;
            bottom: 0;
        }

        .bx-pager-item {
            vertical-align: middle;
        }
      }
    }

  }

  .home-image-slider .bx-controls,
  .home-image-slider .bx-controls .bx-pager {
      margin-top: 0;
      @media (min-width: $screen-sm-min) {
        margin-top: $sc-margin-lv2;
      }
  }

  // Prev and Next arrows
  .home-gallery-prev-icon,
  .home-gallery-next-icon {
      display: $sc-home-carousel-icons-display;
      position: absolute;
      top: 50%;
      width: $sc-target-size-mobile;
      height: $sc-target-size-mobile;
      font-size: 30px;
      text-align: center;
      color: $sc-home-carousel-icons-color-desktop;
      margin-top: -20px;
      line-height: 40px;
      z-index: 10;
      @media (max-width: $screen-sm-min) {
          display: $sc-home-carousel-icons-display;
          color: $sc-home-carousel-icons-color-mobile;
          margin-top: -38.5px;
          background: rgba(0,0,0,0.1);
          padding: 0 10px 5px;
      }
  }

  .home-gallery-prev-icon {
      left: 10px;
      @extend .icon-angle-left;
  }

  .home-gallery-next-icon {
      right: 10px;
      @extend .icon-angle-right;
  }

  // Pager specifics --------

  .bx-pager-link {
      color: $sc-home-carousel-icons-color-mobile !important;
      background-color: $sc-home-carousel-icons-color-mobile !important;
      //background-color: $sc-home-cta-background-color;
      width: 25px !important;
      height: 5px !important;
      font-size:0;
      text-indent:-9999px;

      @media (min-width: $screen-sm-min) {
          color: $sc-home-carousel-icons-color-desktop !important;
          background-color: $sc-home-carousel-icons-color-desktop !important;
      }

      &.active {
        background-color: $sc-home-carousel-icons-color-mobile;

        @media (min-width: $screen-md-min) {
            background-color: $sc-home-carousel-icons-color-desktop !important;
        }
      }

  }


  // captions
  .home-slide-caption-container {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background-color: #FFF;
    pointer-events: none;
    display: none;

    @media (min-width: $screen-sm-min) {
        background-position-x: inherit;
        position: absolute;
        background: none;
        width: 100%;
        right: 0;
        bottom: 0;
        height: 100%;

        //Automatic vergical alignment
        display: flex;
        display: -ms-flexbox;
        justify-content: center;
        align-items: center;

        &.carousel-left-box,
        &.carousel-center-box,
        &.carousel-right-box {
            .home-slide-caption {
              //  background: transparentize($sc-home-cta-background-color, 0.2);
            }
        }

        // These classes can be assigned in the Carousel configuration
        // Larger viewports only
        &.carousel-left,
        &.carousel-left-box {
            text-align: left;
            justify-content: flex-start;
            .home-slide-caption {
                margin-left: 0;
            }
        }
        &.carousel-center,
        &.carousel-center-box {
            text-align: center;
        }
        &.carousel-right,
        &.carousel-right-box {
            text-align: right;
            justify-content: flex-end;
            .home-slide-caption {
                margin-right: 0;
            }
        }



    }

    .home-slide-caption {
      //title and description

      padding: $sc-padding-lv4 $sc-padding-lv2 $sc-padding-lv3 $sc-padding-lv2;
      //padding: 0;

      @media (min-width: $screen-sm-min) {
          background: none;
          margin: auto;
          width: auto;

          padding: $sc-padding-lv8 70px $sc-padding-lv8 70px;
          //padding: 0;

          &.left {
            text-align: left;
          }
          &.right {
            text-align: right;
          }
          &.centered {
            text-align: center;
          }

      }

      @media (max-width: $screen-sm-min) {
         width: 100% !important;
      }

      .home-slide-caption-title {
          font-family: $sc-home-cta-title-font;
          font-size: $sc-home-cta-title-size-mobile;
          text-transform: $sc-home-cta-title-text-transform;
          color: $sc-home-cta-title-color;
          font-weight: $sc-home-cta-title-font-weight;
          font-style: $sc-home-cta-title-font-style;
          margin-bottom: 10px;

          @media (min-width: $screen-sm-min){
              font-size: $sc-home-cta-title-size;
              margin-left: 0;
          }

          @media (min-width: $screen-md-min){
              margin-right: 0;
          }

          //piece for override the configurable text color in mobile only.
          @media (max-width: $screen-sm-min){
            color: #000 !important;
          }
      }

      .home-slide-caption-text {
        font-weight: $sc-font-weight-light;
        text-transform: none;
        color: $sc-home-cta-text-color;

        @media (min-width: $screen-sm-min){
            display:block;
            font-size: $sc-font-size-xxxl;
            margin-bottom: 20px;
        }

        //piece for override the configurable text color in mobile only.
        @media (max-width: $screen-sm-min){
          color: #000 !important;
        }

      }

      // button -- This is may vary depending on the theme

      .home-slide-caption-button-container {
          padding-top: 15px;
          position: static;
          padding-left: $sc-padding-lv4;
          padding-right: $sc-padding-lv4;
          width: 100%;

          @media (min-width: $screen-sm-min) {
              padding:0;
              margin-left: 0;
              margin-right: 0;
              position: relative;
              bottom: 0px;
          }

          //comented lines below can be used for enable specific button styling (developer needed)
          .home-slide-caption-button {
              @extend .button-primary;
              @extend .button-large;
              //background-color: $sc-home-carousel-button-background-color;
              //border: 1px solid $sc-home-carousel-button-border-color;
              //color: $sc-home-carousel-button-text-color;
              width: auto;
              padding: 15px 20px;
              pointer-events: all;

              &:hover {
                  //background-color: $sc-home-carousel-button-background-color-hover;
                  //border: 1px solid $sc-home-carousel-button-border-color-hover;
                  //color: $sc-home-carousel-button-text-color-hover;
              }

              @media (max-width: $screen-xs-max) {
                  //background-color: $sc-home-carousel-button-background-color-mobile;
                  //border: 1px solid $sc-home-carousel-button-border-color-mobile;
                  //color: $sc-home-carousel-button-text-color-mobile;
                  width: auto;
              }
              // icon is not used on this theme
              /*.home-slide-button-icon {
                  @extend .icon-angle-right;
                  color: $sc-color-icon;
                  font-size: 20px;
                  font-weight: bold;
              }*/
          }

      }

    }

  }

}
