/* Edited for Manor Theme */

.facets-facet-browse {
    @extend .container;
    @include site-max-width-container;
    padding-left: 0;
    padding-right: 0;
}

.facets-facet-browse-breadcrum {
	@extend .breadcrumb;
}

.facets-facet-browse-category {
	@extend .clearfix;
}
/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Header
.facets-facet-browse-header {
	@extend .clearfix;
	padding: $sc-margin-lv1 0;
}

.facets-facet-browse-title {
    @extend .list-header-title-ahead;
    text-align: center;
    color: $sc-neutral-shade-500;
    font-weight: $sc-font-weight-normal !important;

    @media (max-width: $screen-sm-min) {
        font-size: $sc-font-size-xxl !important;
        color: $sc-neutral-shade-700;
        margin-top: $sc-margin-lv2 !important;
        margin-bottom: $sc-margin-lv4 !important;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
        padding-left: $sc-padding-lv3;
    }

	@media (min-width: $screen-md-min) {
        text-align: left;
		margin-top: $sc-margin-lv1;
	}
}

.facets-facet-browse-list-header {
    @extend .list-header;

    @media (max-width: $screen-xs-max) {
        text-align: center;
    }
}

.facets-facet-browse-list-header-actions {
    @extend .list-header-actions;
    display: none;

    @media (min-width: $screen-md-min) {
        display: block;
    }
}

.facets-facet-browse-list-header-actions-mobile {
    text-align: left;

    @media (min-width: $screen-md-min) {
        display: none;
    }
}

.facets-facet-browse-list-header-expander {
	@extend .list-header-expander;
}

.facets-facet-browse-list-header-expander-button {
	@extend .list-header-expander-button;
	margin-right: 0;
}

.facets-facet-browse-list-header-expander-icon {
	@extend .list-header-expander-icon;
}

.facets-facet-browse-list-header-filters {
    @extend .list-header-filters;

    @media (max-width: $screen-md-min) {
        margin: 0;
    }
}

.facets-facet-browse-list-header-filters-wrapper {
    @extend .list-header-filters-wrapper;

    @media (max-width: $screen-md-min) {
        padding: $sc-padding-lv4;
    }
}

.facets-facet-browse-list-header-filters-row {
	@extend .list-header-filters-row;
}

.facets-facet-browse-list-header-filter-column {
	@extend .list-header-filter-column;
}

.facets-facet-browse-list-header-filter-facets {
	@extend .list-header-filter-facets;
	border-radius: 0;
    padding: $sc-padding-lv2;

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        padding: $sc-padding-lv1 $sc-padding-lv2;
        line-height: 1.7;
        height: auto;
    }

	.facets-facet-browse-list-header-filter-facets-icon {
		@extend .list-header-filter-facets-icon;
		font-size: 22px;
	}
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Header main content layout

.facets-facet-browse-content,
.facets-facet-browse-empty-items {
	@extend .clearfix;
}

.facets-facet-browse-facets-sidebar {
	display: none;

	@media (min-width: $screen-md-min) {
		display: block;
	}
}

.facets-faceted-navigation-item-category {
	padding-right: $sc-padding-lv3;
}

.facets-faceted-navigation-item-category .facets-faceted-navigation-item-facet-group-expander-icon {
	line-height: 66px + $sc-padding-lv6;
}

.facets-facet-browse-facets {
	@extend .col-md-3;
	@include box-shadow(0 0 6px $sc-color-secondary);
	padding: 0;
	background-color: $sc-neutral-shade-0;
	overflow-x:hidden;

	@media (min-width: $screen-md-min) {
		@include box-shadow(none);
		overflow: visible;
		padding-right: $sc-padding-lv3;
        width: 100%;
		background-color:transparent;
	}
}

.facets-facet-browse-facets[data-pusher="sc-pushable-md"] .sc-pusher-header {
  margin-left: 0;
}

// Handles customization to would trigger header nav to open from right-side of page
.header-sidebar-opened {
    .facets-facet-browse-facets[data-pusher="sc-pushable-md"] {
        display: none;
    }
}

.facets-facet-browse-results {
	@extend .col-md-9;

    @media (min-width: $screen-md-min) {
        width: 100%;
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Items

.facets-facet-browse-items .backbone-collection-view-row {
	margin-bottom: $sc-margin-lv4;

	//the margin is only for the first backbone-collection-view-row
	.backbone-collection-view-row {
		margin-bottom: 0;
	}
}

.facets-facet-browse-items .item-view-stock-msg-description {
	margin-top:0;
}

.facets-facet-browse-narrowedby {
	padding: 0 $sc-padding-lv3;
	text-transform: capitalize;
    line-height: 35px;

    @media (min-width: $screen-md-min) {
        float: left;
        width: 100%;
        padding: 0;
    }
}

.facets-facet-browse-items {
    margin-top: $sc-margin-lv4;
    padding: 0 $sc-padding-lv3;

    @media (min-width: $screen-md-min) {
        margin-top: 0;
        padding: 0;
    }

	.item-cell-price {
		margin-bottom: $sc-margin-lv2;
	}

	.item-cell-image {
		max-width: 100%;
		max-height: 100%;
	}
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Pagination

.facets-facet-browse-pagination {
	text-align: center;
	margin-bottom: $sc-margin-lv8;
}

.facets-facet-browse-banner-section-bottom {
	clear: both;
}

.facets-facet-browse-cms-area-2 {
	@extend .col-md-9;
	@extend .col-md-offset-3;
}


// HORIZONTAL FACETS
.facets-faceted-navigation-item-color-facet-group,
.facets-faceted-navigation-item-range-facet-group,
.facets-faceted-navigation-item-facet-group {
    @extend .col-xs-12;
    @extend .col-md-2;
    position: relative;

    @media (min-width: $screen-md-min) {
        min-width: 160px;
        width: auto;
        padding: 0 $sc-padding-lv2 !important;
        margin-right: $sc-margin-lv3;
        margin-bottom: $sc-margin-lv3;
        border: 1px solid $sc-color-theme-border-light;
    }

    .facets-faceted-navigation-item-color-facet-group-expander,
    .facets-faceted-navigation-item-range-facet-group-expander,
    .facets-faceted-navigation-item-facet-group-expander {
        padding: $sc-padding-lv3 0;
    }

    // Actual Dropdown within Facet
    .facets-faceted-navigation-item-color-facet-group-content,
    .facets-faceted-navigation-item-range-facet-group-content,
    .facets-faceted-navigation-item-facet-group-content {
        padding: $sc-padding-lv2;
        height: 200px;
        overflow-y: auto;
    }
    .facets-faceted-navigation-item-range-facet-group-wrapper {
        padding: $sc-padding-lv2 $sc-padding-lv2 $sc-padding-lv3;
    }

    @media (max-width: $screen-xs-max) {
        border-top: 1px solid $sc-color-theme-border-light;
        border-bottom: 1px solid $sc-color-theme-border-light;
    }
}
