.merchandising-zone-container{
    max-height: 350px;
    max-width: 90%;
    display: block;
    margin: auto;
    position: relative;
    .bx-wrapper, .bx-viewport, .bx-wrapper{
        height: auto;
    }
    .item-views-related-item-thumbnail{
        min-height: 200px;
        display: block;
    }
    .item-views-related-item-thumbnail img{
        max-width: 100%;
        max-height: 200px;
    }
    .item-cell-title{
        min-height: 100px;
        width: 100%;
        display: block;
        text-align: center;
    }
    //Arrows
    .item-details-carousel-prev{
        position: absolute;
        top:50%;
        left: -50px;
        font-size: 50px;
        @media(max-width: $screen-md-min) {
            left: -30px;
        }
        @media(max-width: $screen-sm-min) {
            left: -15px;
        }
    }
    .item-details-carousel-next{
        position: absolute;
        top:50%;
        right: -50px;
        font-size: 50px;
        @media(max-width: $screen-md-min) {
            right: -30px;
        }
        @media(max-width: $screen-sm-min) {
            right: -15px;
        }
    }
}