.newsletter-suscription-form {}

.newsletter-subscription-form-label {
    display: none;

    @extend .col-sm-12;
    text-align: center;
    margin-bottom: $sc-margin-lv2;
    padding-left: 0;
    @media (min-width: $screen-sm-min) {
        text-align: left;
    }
}

.newsletter-subscription-form-container {
    input.newsletter-suscription-form-input {
        @extend .col-sm-8;
        @extend .col-xs-12;

        margin: 0 auto;
        height: 55px;
        margin-bottom: $sc-margin-lv2;
        background-color: $sc-footer-fields-background-color;
        border: 1px solid $sc-footer-fields-border-color;
    //    color: $sc-footer-fields-text-color;

        @include placeholder {
            color: $sc-footer-fields-text-color;
        }
    }
}

.newsletter-subscription-button-wrapper {
    display: flex;
    width: 100%;
    @media (min-width: $screen-sm-min) {
        display: block;
    }
}

.newsletter-subscription-form-button-subscribe {
    @extend .button-tertiary;
    @extend .col-sm-4;
    @extend .col-xs-12;

    height: 55px;
    margin-bottom: $sc-margin-lv2;

    background-color: $sc-footer-buttons-background-color;
    color: $sc-footer-buttons-text-color;
    font-family: $sc-font-family;
    font-weight: $sc-font-weight-normal;
    border-color: $sc-footer-buttons-border-color;
    text-transform: none;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    &:hover {
        color: $sc-footer-buttons-text-hover-color;
        background: $sc-footer-buttons-background-hover-color;
        border-color: $sc-footer-buttons-background-hover-color;
    }

    @media (min-width: $screen-sm-min) {
        width: calc(33.3% - 5px);
        margin-left: 5px;
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
}

 .newsletter-subscription-form-container {
    [data-validation-error="block"] {
        @extend .col-sm-12;
        text-align: left;
        background-color: #c01a29;
    }
}

.newsletter-alert-placeholder {
    padding: 0px;
    @extend .col-sm-12;
    text-align: center;
    @media (min-width: $screen-sm-min) {
        text-align: left;
    }
}

.newsletter-alert-placeholder .global-views-message {
    @extend .col-sm-12;
    text-align: center;
    @media (min-width: $screen-sm-min) {
        text-align: left;
    }
}

input.newsletter-suscription-form-input {}
.newsletter-suscription-form-button-suscribe {}
