
$product-detail-page-shipping-bar-background-progress: $sc-color-theme-background; /* editable({
   "type": "color",
   "label": "Progress Background"
})*/
$sc-shippingbar-pdp-progress-background-color: $product-detail-page-shipping-bar-background-progress;

$product-detail-page-shipping-bar-text-progress: $sc-color-copy; /* editable({
   "type": "color",
   "label": "Progress Text"
})*/
$sc-shippingbar-pdp-text-progress-color: $product-detail-page-shipping-bar-text-progress;

$product-detail-page-shipping-bar-background-qualifies: $sc-color-theme-background; /* editable({
   "type": "color",
   "label": "Qualifies Background"
})*/
$sc-shippingbar-pdp-qualifies-background-color: $product-detail-page-shipping-bar-background-qualifies;

$product-detail-page-shipping-bar-text-qualifies: $sc-color-copy; /* editable({
   "type": "color",
   "label": "Qualifies Text"
})*/
$sc-shippingbar-pdp-qualifies-text-color: $product-detail-page-shipping-bar-text-qualifies;

$product-detail-page-shipping-bar-border: $sc-color-theme-border-light; /* editable({
   "type": "color",
   "label": "Banner Border"
})*/
$sc-shippingbar-pdp-bar-border-color: $product-detail-page-shipping-bar-border;

$product-detail-page-progress-value-text: $sc-color-copy-dark; /* editable({
   "type": "color",
   "label": "Progress Value Text"
})*/
$sc-shippingbar-pdp-progress-value-text-color: $product-detail-page-progress-value-text;

$product-detail-page-qualifies-value-text: $sc-color-copy-dark; /* editable({
   "type": "color",
   "label": "Value Text"
})*/
$sc-shippingbar-pdp-qualifies-value-text-color: $product-detail-page-qualifies-value-text;

/*
group({
   "id": "shipping-bar-item",
   "label": "Product Banner",
   "description": "",
   "children": [
      "$product-detail-page-shipping-bar-background-progress",
      "$product-detail-page-shipping-bar-text-progress",
      "$product-detail-page-shipping-bar-background-qualifies",
      "$product-detail-page-shipping-bar-text-qualifies",
      "$product-detail-page-shipping-bar-border",
      "$product-detail-page-qualifies-value-text",
      "$product-detail-page-progress-value-text"
   ]
})
*/
