.merchandising-zone {
    a, span {
        font-family: 'Oswald' !important;
    }
    .item-relations-cell > div {
        padding: 0 $sc-padding-lv3;
    }
    .item-cell-title a {
        font-family: 'Oswald' !important;
        font-weight: 400;
        color: #069;
    }

    .item-views-related-price {
        color: red ;
        font-size: 18px;
        font-weight: $sc-font-weight-bold;
    }
}