/*
	Sass Application Entry Point
	Link all your sass dependencies in the right order

	Example:
	@import "other-sass-file.scss";
	@import "../../<other module>/Sass/other-sass-file.scss";
*/ 

.priceperroundammunition-info-card {
    @extend .info-card;
}

.priceperroundammunition-info-card-content {
    @extend .info-card-content;
    color: $sc-color-secondary;
    font-weight: bold;
}

.price-per-round-price{
	color: #666 !important;
	font-size: 12px !important;
}