/* Edited for Manor Theme */

.product-details-options-selector-reference-container {
	padding:$sc-padding-lv3 0;
}
.product-details-options-selector-reference {
	@extend .input-required;
}

.product-details-options-selector-content {
	height: 100%;
	margin-top:0;
  background: #FFF; // $sc-color-theme-background;


    // &[data-pusher="sc-pushable-xs"] {
    //     position: static;
    //     right: 0;
    //     left: 0;
    //     padding: 0;

    //     .sc-pusher-header,
    //     .product-details-options-selector-content-price,
    //     .product-details-options-selector-content-stock {
    //         display: none;
    //     }
    // }

	.pdp-detail-options-content-wrapper{
		padding: $sc-padding-lv4;
	}

	@media (min-width: $screen-sm-min) {
		background: transparent;
		padding-bottom: 0;
		overflow:hidden;
	}

	.item-view-lead-price {
		@extend .large-price;
	}
}

.product-details-options-selector-content-price,
.product-details-options-selector-content-stock {
	@media (min-width: $screen-sm-min) {
		display: none;
	}
}

.product-details-options-selector-option-container {}

//esp-gg
#custcol_ava_item-container, #custcol_ava_incomeaccount-container, #custcol_ava_taxcodemapping-container, #custcol_ava_udf1-container, #custcol_ava_udf2-container, #custcol_ava_upccode-container, #custcol_ava_pickup-container, {
	display: none;
}
