
{{!--
{{#if showTitle}}
	<a class="{{#if hasClass}} {{className}} {{else}}requestquote-accesspoints-headerlink-link{{/if}}" href="#" data-hashtag="#request-a-quote" data-touchpoint="customercenter" title="{{translate title}}">
		{{translate title}}
	</a>
{{/if}}
--}}


{{!----
Use the following context variables when customizing this template:

	hasClass (Boolean)
	className (String)

----}}
