{{!-- Edited for Manor Theme --}}

<div class="facets-category-cell">
	<a href="{{url}}" class="facets-category-cell-anchor">
		{{#if hasImage}}<img src="{{resizeImage image 'categorycellimg'}}" alt="{{name}}" class="facets-category-cell-image" />{{/if}}
		<div class="facets-category-cell-title">{{name}}</div>
	</a>
</div>


{{!----
The context variables for this template are not currently documented. Use the {{log this}} helper to view the context variables in the Console of your browser's developer tools.

----}}
