.order-wizard-loyaltypointsform {
    clear: both;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}
.order-wizard-loyaltypointsform {
    margin-bottom: 20px;
}
.order-wizard-loyaltypointsform-available{
    margin-left: 15px;
    margin-top: 10px;
    button{
        float: right;
        margin-right: 10px;
        text-decoration: underline;
    }
}
.order-wizard-loyaltypointsform-expander-head-toggle{
    @extend .accordion-head-toggle-secondary;
}
.order-wizard-loyaltypointsform-expander-toggle-icon{
    @extend .accordion-toggle-icon-secondary;
    @extend .fa;

}
.order-wizard-loyaltypointsform-tooltip{
    @extend .fa;
    @extend .sc-tooltip;
}
.order-wizard-loyaltypointsform-expander-body{
    @extend .accordion-body;
}
.cart-loyaltypoints-form {
    font-size: 1rem;
    overflow: hidden;
    padding: 15px;
}
.cart-summary-grid, .cart-loyaltypoints-form-summary-grid {
    clear: both;
}
.cart-loyaltypoints-form-summary-container-input {
    float: left;
    padding: 0px;
    @extend .col-md-7;
}
.cart-loyaltypoints-form-summary-loyaltypoints-container-button {
    float: right;
    @extend .col-md-5;
}
.cart-loyaltypoints-form-summary-input {
    margin-bottom: 0;
    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button {
        opacity: 1;
    }
}
.order-wizard-loyaltypoints-message{
    float: left;
    margin-top: 10px;
}
.cart-loyaltypoints-form-summary-button-apply-loyaltypoints {
    height: 42px;
    line-height: 0;
    @extend .button-secondary;
    @extend .button-medium;
}

.points-redeemed-list-item-remove-action{
    float: right;
    padding-right: 15px;
    .tooltip{
        left: inherit;
        right: 15px;
    }
    i{
        @extend .fa;
        @extend %fa-times;
    }
}
.order-wizard-cart-summary-points-redeemed-formatted{
    float: right;
    padding-right: 15px;
}