.product-line-stock-description-msg-description {
	@extend .stock-info-description;
	@extend .product-line-stock-msg;
	display: none;
}

.product-line-stock-description-icon-description {
	@extend .product-line-stock-icon;
	@extend .icon-info;
	color: $sc-color-info;
}
