
.sc-shippingbar-cart-initial {
  background: $sc-shippingbar-cart-initial-background-color;
  color: $sc-shippingbar-cart-initial-text-color;
  padding: 10px 10px 10px 10px;

  .sc-shippingbar-common-value-text-color {
    color: $sc-shippingbar-cart-value-text-color;
  }
}

.sc-shippingbar-cart-progress {
  background: $sc-shippingbar-cart-progress-background-color;
  color: $sc-shippingbar-cart-progress-text-color;
  padding: 10px 10px 10px 10px;

  .sc-shippingbar-common-value-text-color {
    color: $sc-shippingbar-cart-progress-value-text-color;
  }
}

.sc-shippingbar-cart-congratulations {
  background: $sc-shippingbar-cart-congratulations-background-color;
  color: $sc-shippingbar-cart-congratulations-text-color;
  padding: 10px 10px 10px 10px;
}

.sc-shippingbar-cart-message {
  border-top: 1px solid $sc-shippingbar-cart-border-color;
  border-bottom: 1px solid $sc-shippingbar-cart-border-color;
  text-align: center;
  font-weight: $sc-font-weight-semibold;
  font-size: $sc-font-size-s;
  margin-bottom: $sc-margin-lv4;
}

.sc-shippingbar-cart-container {
  .desktop{
    @media (max-width: $screen-sm-min) {
      display: none
    }
  }

  .mobile{
    @media (min-width: $screen-sm-min) {
      display: none;
    }
  }
}

